-
	let blockNameFooter = "footer";

mixin footer
	footer(class=blockNameFooter) 
		div(class=blockNameFooter + "_social")
			a(href="#", class=blockNameFooter + "_social-item") facebook
			a(href="#", class=blockNameFooter + "_social-item") google
			a(href="#", class=blockNameFooter + "_social-item") instagramm
		div(class=blockNameFooter + "_menu")
			a(href="#", class=blockNameFooter + "_menu-item") policy
			a(href="#", class=blockNameFooter + "_menu-item") faq
			a(href="#", class=blockNameFooter + "_menu-item") terms
			a(href="#", class=blockNameFooter + "_menu-item") support
		div(class=blockNameFooter + "_allrights") © 2018 Ocolus. All Rights Reserved